<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bigelow+Rules&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navbar">
      <a class="nav-item" href="/">Home</a>
      <a class="nav-item" href="/books">Books</a>
      <a class="nav-item" href="/movies">Movies</a>
      <a class="nav-item" href="/potions">Potions</a>
      <a class="nav-item" href="/spells">Spells</a>
      <a class="nav-item" href="/characters">Characters</a>
    </nav>
    <header id="header">
</html>
